
.nav {
  /*padding-bottom: 1em;*/
}

ul.nav.nav-pills {
  border-radius: 0;
  background-color: #E05D1B;
  color: white;
}

ul.nav.nav-pills li a {
  border-radius: 0;
  color: white;
}

ul.nav.nav-pills li a:hover {
  border-radius: 0;
  color: black;
  margin: 0;
}

.intro {
  margin-top: 1.1875em;
  padding-top: 1.5em;
  background-color: #E05D1B;
  border-radius:25px;
  color: white;
  font-size: 1.5em;
  float: left;
  text-align: left;
}

.container {
  text-align: center;
  padding-top: 5em;
}

img {
  float: right;
  border-radius: 40%;
}

div.thumbnail {
  border-radius: 0;
}

a#collapse {
  clear: both;
  text-decoration: none;
  color: #E05D1B;
}

div.intro {
  padding: 1em;
}

div.thumbnail {
  margin-top: 1em;
}

div.thumbnail>img {
  border-radius: 0;
  height: 4em;
  width: 6em;
}

div.caption p {
  color: #E05D1B;
}

div.intro h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: double;
}

.fa-linkedin-square .fa-2x a:hover {
  color: #E05D1B;
}

.fa-github-square .fa-2x a:hover {
  color: #E05D1B;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #E05D1B;
}

input#message {
  color: #000000;
}
